*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:monospace;
    color: #898A8C;
}

img{
    width: 200px;
    height: 200px;
    border: 1px;
    border-radius: 10px;
}

body{
    min-height: 100vh;
    display: flex;
    flex-flow: column nowrap;
    background-color: #131519;
    background-image: url(img/imghome/IF\ logo2_IF\ logo\ large.png);
    background-repeat: no-repeat;
    background-position: bottom right;
}

.header{
    position: relative;
    z-index: 3;
    margin: auto;
    font-size:xx-large;
    top: 80px;
}
h2 a{
    text-decoration: none;
}
.top, .bot{
    position: sticky;
    background-color: #252B33;
    height: 3rem;
    width: auto;
}

.top{
    top: 0;
    box-shadow: 0px 5px 20px 1px #5f6874;
}
.bot{
    bottom: 0;
}

.nav{
    flex-grow: 1;
}
.shadow{
    position: relative;
    z-index: 1;
}

.shadow2{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
}

.back1, .back2{
    position: relative;
    width: 200px;
    height: 200px;
    border: 2px solid #898A8C;
    border-radius: 10px;
    top: 185px;
    right: -15px;
}

.back3, .back4{
    position: relative;
    width: 200px;
    height: 200px;
    border: 2px solid #898A8C;
    border-radius: 10px;
    top: 185px;
    right: 15px;
}

.thumbnails{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.contact, .work, .gallery, .about{
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.front{
    position: relative;
    z-index: 2;
}

p{
    font-size: 20px;
    margin-top: 10px;
}

footer{
    padding-left: 20px;
    padding-top: 10px;
}

.hover1 a:hover{
    border-radius: 10px;
    box-shadow: 7px -7px 20px 0px #c4c6ca;
}

.hover2 a:hover{
    border-radius: 10px;
    box-shadow: -7px -7px 20px 0px #c4c6ca;
}
@media screen and (max-width: 992px) {
    img{
        width: 200px;
        height: 200px;
    }
    body{
        max-height: auto;
        display: flex;
        flex-flow: column nowrap;
        background-color: #131519;
        background-image: url(img/imghome/IF\ logo2_IF\ logo\ large.png);
        background-repeat: no-repeat;
        background-position: center;
       
    }
    .top, .bot{
        position: sticky;
        background-color: #252B33;
        height: 3rem;
        width: auto;
        z-index: 3;
         }   

    .top{
        top:0
        }
    .bot{
        bottom: 0;
        }

    .header{
        top: 40px
        }
    
    .nav{
        position: relative;
        padding: 50px 0;
        flex-grow: 1;
        }
        
        .back1, .back2, .back3, .back4{
            position: relative;
            width: 0px;
            height: 0px;
            border: 0px;
        }
        
        .thumbnails{
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            position: relative;
            top: 20px;
            
        }
        
        .contact, .work, .gallery, .about{
            text-decoration: none;
            display: flex;
            flex-direction: column nowrap;
            align-items: center;
            padding: 10px;
            
        }
        
        .front{
            position: relative;
            

}
}